@import url('https://fonts.googleapis.com/css2?family=Poppins');
* {
  padding: 0;
  margin: 0;
  text-decoration: unset;
  list-style: none;
  font-family: 'Poppins' !important;
}

body{
  background-color: #eee;
}

.tableContainer{
  margin: 2rem 5rem;
}

.search-bar{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

input{
  padding: 10px;
  width: 100vw;
}

.search-class{
  margin: 2rem 1rem;
}

.cards{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.cards h4{
  display: inline;
}

.ant-card-body{
  font-size: 1rem;
}

.cardContainer{
  margin: 3rem;
}